.pagination {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
}

.page-number,
.nav-btn {
  padding: 6px;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

.nav-btn {
  border: none;
  border-radius: 3px;
}

.page-number:hover,
.nav-btn:enabled:hover {
  border: 1px solid #1976d2;
  color: #1976d2;
}

.page-number.active {
  background-color: #1976d2;
  color: #fff;
}
